@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

.faqaccordion{
    background-color: black;
    height: 150vh;
    position: relative;
    top: 50px;
}
.faq_header_title{
    color: white;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 600;
    word-spacing: 10px;
    position: relative;
    left: 350px;
    padding-top: 40px;
    margin-bottom: 80px;
    width: 866px;
}
.text_title{
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
}
.acc_para_title{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
}
.size{
    width: 70%;
    margin: auto;
}
.ready_to_sign{
    color: white;
    font-size:22px;
    margin-top: 100px;
    position: relative;
    left: 390px;
    width: 719px;
}
.faq_sign_in{
    width: 500px;
    height: 55px;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    position: relative;
    left: 370px;
}
.faq_home_btn{
    padding-top: 2px;
    width: 250px;
    height: 59px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: white;
    background-color: #D81F26;
    cursor: pointer;
    position: relative;
    top: 6px;
    left: 370px;
}

@media screen and (max-width:1200px) {
    .faqaccordion{
        background-color: black;
        height: 190vh;
        position: relative;
        top: 50px;
    }
    .faq_header_title{
        color: white;
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 55px;
        font-weight: 600;
        word-spacing: 10px;
        position: relative;
        left: 220px;
        padding-top: 40px;
        margin-bottom: 80px;
        width: 766px;
    }
    .ready_to_sign{
        color: white;
        font-size:22px;
        margin-top: 50px;
        position: relative;
        left: 245px;
        width: 719px;
    }
    .faq_sign_in{
        width: 500px;
        height: 55px;
        padding: 7px;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        position: relative;
        left: 210px;
    }
    .faq_home_btn{
        padding-top: 2px;
        width: 250px;
        height: 59px;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        color: white;
        background-color: #D81F26;
        cursor: pointer;
        position: relative;
        top: 6px;
        left: 210px;
    }
}

@media screen and (max-width:1000px) {
    .faqaccordion{
        background-color: black;
        height: 203vh;
        position: relative;
        top: 50px;
    }
    .faq_header_title{
        color: white;
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 50px;
        font-weight: 600;
        word-spacing: 10px;
        position: relative;
        left: 140px;
        padding-top: 40px;
        margin-bottom: 80px;
        width: 766px;
    }
    .ready_to_sign{
        color: white;
        font-size:22px;
        margin-top: 50px;
        position: relative;
        left: 133px;
        width: 719px;
    }
    .faq_sign_in{
        width: 500px;
        height: 55px;
        padding: 7px;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        position: relative;
        left: 120px;
    }
    .faq_home_btn{
        padding-top: 2px;
        width: 220px;
        height: 58px;
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        color: white;
        background-color: #D81F26;
        cursor: pointer;
        position: relative;
        top: 4px;
        left: 118px;
    }
}
@media screen and (max-width:700px) {
    .faqaccordion{
        background-color: black;
        height: 221vh;
        position: relative;
        top: 50px;
    }
    .faq_header_title{
        color: white;
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 38px;
        font-weight: 600;
        word-spacing: 10px;
        position: relative;
        left: 70px;
        padding-top: 40px;
        margin-bottom: 80px;
        width: 766px;
    }
    .ready_to_sign{
        color: white;
        font-size:17px;
        margin-top: 50px;
        position: relative;
        left: 61px;
        width: 719px;
    }
    .faq_sign_in{
        width: 300px;
        height: 35px;
        padding: 7px;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        position: relative;
        left: 90px;
    }
    .faq_home_btn{
        padding-top: 2px;
        width: 170px;
        height: 37px;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        color: white;
        background-color: #D81F26;
        cursor: pointer;
        position: relative;
        top: 0px;
        left: 88px;
    }
}